In [ ]:
pip install mysql-connector-python

change host == to your hostname
passwd == to your password

In [ ]:
import mysql.connector as connection
try:
    mydb = connection.connect(host='localhost',user="root", passwd="<your password>",use_pure=True)
    # check if the connection is established
    query="SHOW DATABASES"
    cursor = mydb.cursor() # creates a cursor to executes query
    
    # cursor.execute("DROP DATABASE NEURON")
    # cursor.execute("CREATE DATABASE FIRSTDATABASE")
    # cursor.execute("drop database firstdatabase")
    # query1 = "select * from data"
    # cursor.execute("drop database student")
    print(cursor.fetchall())
    
except Exception as e:
    mydb.close()
    print(str(e))
    

mydb.close()

CRUD OPERATIONS

CREATE DATABASE <database_name>

In [ ]:
import mysql.connector as connection
try:
    mydb = connection.connect(host='localhost', user='root', passwd='<your password>', use_pure=True)
    cursor = mydb.cursor()
    # cursor.execute('CREATE DATABASE employee_db')
    cursor.execute('SHOW DATABASES')
    
    for i in cursor:
        print(i)
        
    # print(cursor.fetchall())
except Exception as e:
    mydb.close()
    print(str(e))
    
mydb.close()

In [ ]:
import mysql.connector as connection
try:
    mydb = connection.connect(host="localhost", user='root', passwd='<your password>', use_pure=True, database="employee_db")
    cursor = mydb.cursor()
    
    # create statement for table employee
    # employee_table = """CREATE TABLE `employee_db`.`tblemployee`(
    #                     `empid` INT NOT NULL AUTO_INCREMENT,
    #                     `empname` VARCHAR(45) NULL,
    #                     `department` VARCHAR(45) NULL,
    #                     `salary` INT NULL, 
    #                     PRIMARY KEY (`empid`))"""
                        
    # cursor.execute(employee_table)
    cursor = mydb.cursor()
    cursor.execute("desc tblemployee")
    # desc === describe
    for i in cursor:
        print(i)
    mydb.close()
    
except Exception as e:
    print(str(e))
    mydb.close()

In [ ]:
import mysql.connector as connection
try:
    mydb = connection.connect(host="localhost", user="root", passwd="<your password>", use_pure=True)
    database="employee_db"
    cursor = mydb.cursor()
    query = f"drop database {database}"
    cursor.execute(query)
    print("dropped successful")
except Exception as e:
    print(str(e))
    
mydb.close()

CREATE TABLE

In [ ]:
import mysql.connector as connection

try:
    mydb = connection.connect(host='localhost', user='root', passwd='<your password>', use_pure=True)
    query1 = "CREATE DATABASE EmployeeDB"
    
    cursor1 = mydb.cursor()
    # cursor1.execute(query1)
    mydb.database = "EmployeeDB"
    query2 = """CREATE TABLE `EmployeeDB`.`employeetable`(
        `empid` INT NOT NULL AUTO_INCREMENT,
        `empname` VARCHAR(20) NULL, 
        `department` VARCHAR(20) NULL,
        `salary` INT NULL, 
        PRIMARY KEY(`empid`))"""
    
    cursor2 = mydb.cursor()
    # cursor2.execute(query2)
    
    cursor2.execute("desc employeetable")
    
    for i in cursor2:
        print(i)
    
    mydb.close()
except Exception as e:
    print(str(e))

mydb.close()


INSERTING THE DATA INTO THE TABLES

In [ ]:
try:
    mydb = connection.connect(host='localhost', user='root', passwd='<your password>', use_pure=True)
    cursor3 = mydb.cursor()
    # insert statement for tblemployee
    # this statement will enable us to insert multiple rows at once.
    mydb.database = "EmployeeDB"
    employee_table_insert = """INSERT INTO employeetable (
        empname, department, salary) 
        VALUES
        (%s, %s, %s)"""
        
    # we save all the row data to be inserted in a data variable
    data = [("A", "CEO", 12345670),
            ("B", "CTO", 12345678),
            ("C", "HR", 100000),
            ("D", "Accounts", 90000)]

    # execute the insert commands for all rows and commit to the database

    cursor3.executemany(employee_table_insert, data)


    mydb.commit()

    mydb.close()
except Exception as e:
    print(str(e))
    mydb.close()
    
c = cursor3.execute("desc employeetable")

for i in c:
    print(i)

Reading / selectin data

In [ ]:
import mysql.connector as connection
import pandas as pd
try:
    mydb = connection.connect(host="localhost", user="root", passwd = "<your password>", use_pure=True)
    mydb.database ="EmployeeDB"
    query = "select * from employeetable"
    cursor = mydb.cursor()
    
    cursor.execute(query)
    data = cursor.fetchall()
    
     # Extract column names
    df = pd.DataFrame(data, columns=[i[0] for i in cursor.description])
    df.to_csv("output.csv", index=False)
    print(df)
    cursor.close()
    mydb.close()
    
except Exception as e:
    print(str(e))

Updating Data

In [ ]:
import mysql.connector as connection
try:
    mydb = connection.connect(host="localhost", user="root", passwd = "<your password>", use_pure=True)
    mydb.database ="EmployeeDB"
    cursor = mydb.cursor()
    query = "update employeetable SET salary = 95000 where empid=4"
    
    cursor.execute(query)
    
    mydb.commit()
    print("Update Successful")
    mydb.close()
    
except Exception as e:
    print(str(e))
mydb.close()

Deleting Data

In [ ]:
import mysql.connector as connection
try:
    mydb = connection.connect(host="localhost", user="root", passwd = "<your password>", use_pure=True)
    mydb.database ="EmployeeDB"
    cursor = mydb.cursor()
    query = "delete from employeetable where empid=4"
    
    cursor.execute(query)
    
    mydb.commit()
    print("delete Successful")
    mydb.close()
    
except Exception as e:
    print(str(e))
mydb.close()

In [ ]:
import mysql.connector as connection

try:
    mydb = connection.connect(host='localhost', user='root', passwd = '<your password>', use_pure = True)
    mydb.database = "EmployeeDB"
    print(mydb.is_connected())
    cursor = mydb.cursor()
    
    query = "select * from employeetable"
    
    cursor.execute(query)
except Exception as e:
    print(str(e))

In [ ]:
cursor1 = mydb.cursor()
cursor1.execute("select * from employeetable")

In [ ]:
for i in cursor1.fetchall():
    print(i)

In [ ]:
cursor1.execute("select empid, empname from employeetable")

In [ ]:
for i in cursor1.fetchall():
    print(i)

Reading data from sql and creating dataframe

In [ ]:
import mysql.connector as connection
import pandas as pd

try:
    mydb = connection.connect(host='localhost', user='root', passwd ='<your password>')
    
    mydb.database = "EmployeeDB"
    print(mydb.is_connected())
    table = "employeetable"
    query = f"select * from {table}"
    mydb.close()
    
except Exception as e:
    print(str(e))